.navbar {
  width: 100%;
  height: 70px;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  img {
    width: 40px;
    height: 40px;
  }
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a {
  margin-left: 20px;
  text-decoration: none;
  color: $color-bgtxt;
}

.LogoutIcon {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 10px;
  color: $color-bgtxt;
}

.navbar h1 {
  text-align: right;
  margin-right: 20px;
  color: $color-bgtxt;
  font-weight: lighter;
  font-size: 25px;
}
