.basicInfo {
  color: $color-bgtxt;
  .changePassword:hover {
    background-color: $color-tertiary;
    color: $color-bgtxt;
  }

  .deleteButton:hover {
    background-color: red;
    color: $color-bgtxt;
  }
}

.password {
  color: $color-bgtxt;
  margin-top: 50px;
  h1 {
    margin-bottom: 30px;
  }
  input {
    margin: 15px;
    border-radius: 5px;
  }

  button {
    width: 150px;
    height: 30px;
    margin-left: 15px;
  }
}

.borderPassword {
  border: 10px solid $color-primary;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-tertiary;
}

.validateChanges:hover {
  background-color: green;
  color: $color-bgtxt;
}
