.App {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  background-color: #37527c;
}

.post {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6e88b3;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.post .title {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid lightgray;
  background-color: #112443;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: white;
}

.post .body {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  display: -ms-grid;
  display: grid;
  border-radius: 20px;
  place-content: center;
  color: white;
}

.post .footer {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  border-top: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  background-color: #112443;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer .username {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.footer .buttons {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.likeBttn {
  color: rgba(250, 250, 250, 0.8);
}

.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  margin: 40px;
  color: white;
  background-color: #6e88b3;
  border: 5px solid #112443;
  border-radius: 5px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #112443;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: #37527c;
}

span {
  color: red;
}

.loginContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.loginContainer button {
  background-color: #112443;
  color: white;
}

.loginContainer input {
  border: 2px solid #112443;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #112443;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .links {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .links img {
  width: 40px;
  height: 40px;
}

.navbar .loggedInContainer {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.LogoutIcon {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 10px;
  color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 20px;
  color: white;
  font-weight: lighter;
  font-size: 25px;
}

.postPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: calc(100vh - 70px);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.rightSide {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  height: calc(100vh - 70px);
  display: -ms-grid;
  display: grid;
  place-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rightSide .addCommentContainer {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.rightSide .addCommentContainer button {
  background-color: #112443;
  color: white;
  cursor: pointer;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer input {
  border: 2px solid #112443;
}

.rightSide .listOfComments {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  color: white;
  background-color: #6e88b3;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}

#individual .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deleteIcon {
  margin-right: 30px;
}

.deleteIcon :hover {
  color: red;
  cursor: pointer;
}

.basicInfo {
  color: white;
}

.basicInfo .changePassword:hover {
  background-color: #112443;
  color: white;
}

.basicInfo .deleteButton:hover {
  background-color: red;
  color: white;
}

.password {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.password input {
  margin: 15px;
  border-radius: 5px;
}

.password button {
  width: 150px;
  height: 30px;
  margin-left: 15px;
}

.pageNotFound {
  color: white;
}

.pageNotFound a {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */